.idea
basepackage/smt/module_smt.xml
basepackage/smt/smt.iml
basepackage/smt/src/smt.iml

cxx.iml
module_cxx.xml
thutag.properties
thutag.xml
build/
bin/

traindata/KeywordPost.dat.taglex
traindata/KeywordPost.dat.wordlex
traindata/bookPost70000.dat.taglex
traindata/bookPost70000.dat.wordlex

traindata/key.dat.taglex
traindata/key.dat.wordlex

traindata/post.dat.taglex
traindata/post.dat.wordlex
traindata/zhihuPost.dat
traindata/zhihuPost.dat.taglex
traindata/zhihuPost.dat.wordlex

/traindata/YahooPost.dat.taglex
/traindata/YahooPost.dat.wordlex
/Command_Example
traindata/YahooBusPost.dat
traindata/YahooBusPost.dat.taglex
traindata/YahooBusPost.dat.wordlex
/additional_doc.md
/giza-pp/
docs/
