.idea
basepackage/smt/module_smt.xml
basepackage/smt/smt.iml
basepackage/smt/src/smt.iml

cxx.iml
module_cxx.xml
thutag.properties
thutag.xml
build/*

traindata/KeywordPost.dat.taglex
traindata/KeywordPost.dat.wordlex
traindata/bookPost70000.dat.taglex
traindata/bookPost70000.dat.wordlex
traindata/key.dat
traindata/key.dat.taglex
traindata/key.dat.wordlex
